.section-clients {
  background-color: #fbfbfb;
  padding-bottom: 72px;
  .heading-container {
    background-color: #fff;
    padding: 45px 40px;
    .heading-primary {
      margin: 0;
    }
  }
  .clients-container {
    margin-top: 20px;
    background-color: #fff;
    padding: 0 40px;
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      .img-container {
        width: 25%;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          max-width: 80%;
        }
        @media (max-width: 800px) {
          width: 50%;
        }
        @media (max-width: 500px) {
          height: 120px;
        }
      }
    }
  }
}