@use 'variables' as v;

html {
  font-size: 10px;
  body {
    font-size: 1.6rem;
    position: relative;
    background-color: v.$default-bg-color;
    .root {
      opacity: 1;
      transition: opacity .5s;
    }
    &.lock,
    &.loading {
      overflow: hidden;
      height: 100vh;
    }
    * {
      box-sizing: border-box;
    }
    &.loading {
      .loader-container {
        opacity: 1;
      }
      .root {
        opacity: 0;
        pointer-events: none;
      }
    }
  }
}

ul {
  margin: 0;
}

a {
  text-decoration: none;
  color: v.$link-color;
}

.container {
  max-width: v.$container-max-width;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  padding: 10px 30px;
  line-height: 100%;
  color: #fff;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  &.border-btn {
    border: 2px solid;
    font-family: 'sansationregular';
    font-size: 1.3rem;
  }
  &.primary-btn {
    border-radius: 3px;
    background-color: v.$primary-bg-color;
    font-family: 'neotericbold';
    font-size: 1rem;
    padding: 8px 32px;
  }
  &.secondary-btn {
    font-family: 'sansationregular';
    font-size: 1.2rem;
    border-radius: 3px;
    color: #f7f7f7;
    background: #959595;
    padding: 8px 28px;
  }
  &.call-btn {
    padding: 10px 26px;
    text-transform: none;
    height: 45px;
    color: v.$link-active-color;
    font-family: 'myriadprosemibold';
    font-weight: 400;
    font-size: 1.2rem;
    background-color: #fff;
  }
  &.subscribe-btn {
    padding: 10px 26px;
    padding-top: 15px;
    text-transform: none;
    height: 45px;
    color: #fff;
    font-family: 'Helvetica LT Std';
    font-weight: 300;
    font-size: 1.5rem;
    background-color: #0072bc;
  }
}

.heading-primary {
  color: #f7f7f7;
  font-family: 'sansationregular';
  font-size: 4rem;
  font-weight: 400;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  .detail {
    height: 1px;
    background: #f7f7f7;
    position: relative;
    flex-grow: 1;
    position: relative;
    top: -7px;
    @media(max-width: 700px) {
      display: none;
    }
    &:before {
      content: '';
      position: absolute;
      top: -1px;
      width: 75px;
      height: 3px;
      background: #f7f7f7;
    }
    &.left-detail {
      margin-right: 45px;
      &:before {
        right: 0;
      }
    }
    &.right-detail {
      margin-left: 45px;
      &:before {
        left: 0;
      }
    }
  }
  &.inverted {
    font-family: 'sansationbold';
    color: #656464;
    .detail {
      background-color: #656464;
      &:before {
        background-color: #656464;
      }
    }
  }

}

.heading-secondary {
  color: #252525;
  font-family: 'sansationregular';
  font-size: 2.5rem;
  font-weight: 400;
  text-transform: uppercase;
  border-bottom: 1px solid;
  padding-bottom: 7px;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 65px;
    height: 1px;
    background-color: #252525;
  }
}

.chevron::before {
	border-style: solid;
	border-width: 2px 2px 0 0;
	content: '';
	display: inline-block;
	height: 15px;
	left: 1px;
	position: relative;
	top: 1px;
	transform: rotate(-45deg);
	vertical-align: top;
	width: 15px;
  color: #373636
}

.chevron.right:before {
	left: -4px;
	transform: rotate(45deg);
}

.chevron.left:before {
	left: 4px;
	transform: rotate(-135deg);
}

.loader-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: v.$default-bg-color;
  opacity: 0;
  transition: opacity .5s;
  position: fixed;
  top: 0;
  left: 0;
}

.loader {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: v.$active-color;
  background: linear-gradient(to right, v.$active-color 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  animation: load 1.4s infinite linear;
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: v.$active-color;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: v.$default-bg-color;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@keyframes load {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
