@font-face {
  font-family: 'sansationregular';
  src: url('fonts/sansation_regular-webfont.woff2') format('woff2'),
       url('fonts/sansation_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'sansationbold';
  src: url('fonts/sansation_bold-webfont.woff2') format('woff2'),
       url('fonts/sansation_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'myriadproregular';
  src: url('fonts/myriadpro_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'myriadprosemibold';
  src: url('fonts/myriadpro_semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'neotericbold';
  src: url('fonts/neotericbold-xq1q-webfont.woff2') format('woff2'),
       url('fonts/neotericbold-xq1q-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'neotericregular';
  src: url('fonts/neoteric-32a8-webfont.woff2') format('woff2'),
       url('fonts/neoteric-32a8-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
	font-family: 'Helvetica LT Std';
	src: url('fonts/HelveticaLTStd-LightCond.eot');
	src: local('Helvetica LT Std Light Condensed'), local('HelveticaLTStd-LightCond'),
		url('fonts/HelveticaLTStd-LightCond.eot?#iefix') format('embedded-opentype'),
		url('fonts/HelveticaLTStd-LightCond.woff') format('woff'),
		url('fonts/HelveticaLTStd-LightCond.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica LT Std';
	src: url('fonts/HelveticaLTStd-Bold.eot');
	src: local('Helvetica LT Std Bold'), local('HelveticaLTStd-Bold'),
		url('fonts/HelveticaLTStd-Bold.eot?#iefix') format('embedded-opentype'),
		url('fonts/HelveticaLTStd-Bold.woff') format('woff'),
		url('fonts/HelveticaLTStd-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
