@use 'variables' as v;

header {
  .header-menu {
    position: relative;
    z-index: 5;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  .header-slider {
    position: relative;
    margin-top: -63px;
    .splide__arrow {
      background: transparent;
      border-radius: 0;
      width: auto;
      height: auto;
    }
    .splide__arrow--next {
      transform: rotateY(180deg) translateY(-50%);
    }
    .header-slide {
      height: 550px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 30px 60px;
      .header-slide-content {
        padding: 40px;
        padding-top: 40px;
        padding-bottom: 60px;
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-bottom: none;
        text-align: center;
        position: relative;
        max-width: 540px;
        h3 {
          font-family: 'sansationbold';
          text-transform: uppercase;
          color: #fff;
          margin-top: 0;
          margin-bottom: 15px;
          font-size: 4.5rem;
          font-weight: 400;
        }
        p {
          margin: 0;
          padding: 0 40px;
          font-family: 'sansationregular';
          font-size: 1rem;
          line-height: 1.7;
          color: rgba(255, 255, 255, 0.7);
        }
        .btn {
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translate(-50%, 50%);
          width: 115px;
        }
        &:before {
          content: '';
          position: absolute;
          left: 0;
          bottom: 0;
          width: 35%;
          height: 1px;
          background-color: rgba(255, 255, 255, 0.2);
        }
        &:after {
          content: '';
          position: absolute;
          right: 0;
          bottom: 0;
          width: 35%;
          height: 1px;
          background-color: rgba(255, 255, 255, 0.2);
        }

      }
    }
  }
}